* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
    background: black;
}

:root {
    --elm-color: #fff;
}
 
h1 {
    font-size: 50px;
    line-height: 64px;
    color: var(--elm-color);
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: var(--elm-color);
}

h4 {
    font-size: 20px;
    color: var(--elm-color);
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: var(--elm-color);
    margin: 15px 0 20px 0;
}

span {
    font-size: 10px;
    color: var(--elm-color);
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    height:auto;
    background: black;
    position: relative;
    height: 100vh;
}


/*logo */

.logo {
    display: flex;
    align-items: center;
    padding-right: 120px;
}

.logo img {
    width: 100px;
    margin-right: 5px;
}

/* Header Start */

#header {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2e2d2d;
}


#navbar {
    width: 100%;
    list-style: none;    
    display: flex;
    /* align-items: center;
    justify-items: center; */
}

#navbar ul, #navbar li {
    margin: 0;
    padding: 0;
}

#navbar ul {
    list-style: none;
    width: 100%;
}

#navbar li {
    float: left;
    width: auto;
    position: relative;
}

#navbar a {
    display: block;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease;
    box-sizing: border-box;
}

.inventory {
    top: 80px;
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;   
}

#navbar li a:hover {
    background: red;
    border-radius: 10px;
    /* margin-top: 12px; */
}

#navbar li:hover ul.inventory {
    display: block;
    border-radius: 20px;
}

/* brands */

#navbar li:hover ul.brands {
    opacity: 1;
}

.brands li {
    display: flex;
    
}

.brands li a {
    width: 200px;
}

.brands a:not(:last-child) {
    justify-content: space-around;
}

strong {
    background: none;
}

#mega-brand .mega-sub-brand .mega-item-brand .brands span {
    color:red;
    font-size: 16px;
    line-height: 15px;
}


/* slideShow */

.slideShow {
    width: 1381px;
    max-width: 100vw;
    height: 436px;
    margin-bottom: 50px;
    overflow: hidden;
}


.slides {
    width: 500%;
    height: 436px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 1381px;
    height: 100%;
}

.navigation-manual {
    position: absolute;
    width: 21px;
    display: flex;
    margin-top: 2px;
    margin-left: 630px;

}

.manual-btn {
    border: none;
    background-color: #2e2d2d;
    padding: 6px;
    margin: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 2px;
}

.manual-btn:hover {
    background-color: red;
}

#radio1:checked ~.first {
    margin-left:0;
}

#radio2:checked ~.first {
    margin-left: -20%;
}

#radio3:checked ~.first {
    margin-left: -40%;
}

#radio4:checked ~.first {
    margin-left: -60%;
}

#radio5:checked ~.first {
    margin-left: -80%;
}

#radio6:checked ~.first {
    margin-left: -100%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    display: flex;
    margin-left: 640px;
    margin-top: 443px;
}

.navigation-auto div {
    border: none;
    background-color: yellow;
    padding: 5px;
    margin: 7px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto:not(:last-child) {
    margin-right: 3px;
}

#radio1:checked ~.navigation-auto .auto-btn1 {
    background-color: red;
}

#radio2:checked ~.navigation-auto .auto-btn2 {
    background-color: red;
}

#radio3:checked ~.navigation-auto .auto-btn3 {
    background-color: red;
}

#radio4:checked ~.navigation-auto .auto-btn4 {
    background-color: red;
}

#radio5:checked ~.navigation-auto .auto-btn5 {
    background-color: red;
}

#radio6:checked ~.navigation-auto .auto-btn6 {
    background-color: red;
}

#radio7:checked ~.navigation-auto .auto-btn7 {
    background-color: red;
}

/* search car */

.search-car {
    display: flex;
    background: black;
    padding: 25px 25px;
    align-items: center;
    justify-content: center;
}

.search-car a {
    color: var(--elm-color);
    font-size: 20px;
    padding: 0 30px;
}

.slOption {
    font-size: 16px;
    padding: 10px 40px;
    margin-right: 3.5rem;
    border-radius: 5px;
    background-color: #49494d;
    color: #fff;
}

.tai {
    background-color: black;
    color: white;
}

.btSearch {
    display: flex;
    font-size: 16px;
    padding: 10px 40px;
    background-color: red;
    border-radius: 5px;
    color: white;
    transition: background-color 0.1s ease-out;
}

.btSearch:active {
    background-color: #6b696a;
  }

/* Main */

#product1 h1 {
    text-align: center;
}

#product1 .pro {
    width: 35%;
    min-width: 400px;
    padding: 10px 20px;
}

#product1 .pro img {
    width: 100%;
    transition: border-color 0.3s;
}

#product1 .pro img:hover{
    border: 2px solid #612a2a;
} 

#product1 .pro-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
}

.bts-cars {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#product1 .new {
    color:red;
}

#allcars{
    text-decoration: none;
}

.allCars {
    display: block;
    font-size: 30px;
    padding: 10px 40px;
    background-color: red;
    border-radius: 10px;
    color: white;
    transition: background-color 0.1s ease-out;
    border: none;
}

.allCars:active {
    background-color: #6b696a;
}

/* Showroom Favourites */

.srF {
    padding-bottom: 50px;
}
.srF h1 {
    text-align: center;
    padding-bottom: 12px;
}

.srF img {
    width: 50%;
}

.content p, h2 {
    background: #2e2d2d;
}

.paragraph {
    background: #2e2d2d ;
    box-sizing: border-box;
    padding: 0 80px;
}

.content {
    background: #2e2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.paragraph a {
    color: var(--elm-color);
    background: #2e2d2d;
    padding-right: 10px;
}

.paragraph i {
    background: #2e2d2d;
}

.info {
    background: #2e2d2d;
    color: var(--elm-color);
    display: flex;
    padding-top: 80px;
}

.info  a{
    padding-right: 50px;
    text-decoration: none;
    font-size: 15px;
}

.info i {
    color: red;
    padding-right: 12px;
}

/* last mews */
.News {
    padding: 40px 0 50px 0;
}

.News h1 {
    text-align: center;
    padding-bottom: 12px;
}

.car1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 0 50px;
    background-image: linear-gradient(to bottom,black,#212121); 
}

.post1 {
    font-size: 14px;
    box-sizing: border-box;
}

.entry-thumbnail {
    position: relative;
}

.entry-thumbnail img {
    width: 100%;
    height: auto;
}

.newsport-detail {
    position: absolute;
    bottom: 30px;
    left: 100px;
    background: none;
    padding: 10px;
    margin: 0;
}

.newsport-detail a{
    font-size: 30px;
    color: var(--elm-color);
    text-decoration: none;
    background: none;
}

.newsport-content {
    font-size: 14px;    
    color: var(--elm-color);
    background: #212121;
    padding-bottom: 50px;
}

.newsport-content a {
    font-size: 13px;
    color: red;
    text-decoration: none;
    background: none;
}

/* fotter */

.footer {
    height: auto;
    width: 100%;
    text-align: center;
    padding: 45px 0 20px;
}

.introduce2 {
    border-bottom: 2px solid #ee142d;
    display: inline-block;
    padding-bottom: 5px;
}

.footer p {
    font-size: 21px;
}

.footer-logos {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    margin-top: 5px;
    justify-content: center;
}

.footer-logos img {
    width: 70px;
    margin: 0 30px;
}

.list-follow {
    font-size: 21px;
    display: flex;
    justify-content: center;
}

.list-follow li,a,i {
    list-style: none;
    padding: 0 2px;
    color: var(--elm-color);
    text-decoration: none;
}

.newsletter-form {
    user-select: none;
    box-sizing: border-box;
}
.newsletter-form p{
    font-size: 14px;  
}

input[type=email] {
    width: 300px;
    margin-right: 15px;
    background: #303438;
    display: inline-block;
    color:var(--elm-color);
    border-radius: 4px;
    border: none;
    font-size: 12px;
    padding: 14px 10px;
    line-height: 16px;
    font-weight: 600px;
    vertical-align: middle;
}

input[type=submit] {
    width: auto;
    border: none;
    background-color: #c81e31;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    padding: 14px 15px;
    font-weight: 600;
    vertical-align: middle;
    transition: background-color 0.2s easeout;
}

input[type=submit]:active {
    background : #2e2d2d;
}

.copyright {
    border-top: 2px solid #2e2d2d;
    margin-top: 50px;   
}
.copyright p{
    font-size: 12px;
    margin: auto;
    text-align: right;
    color: white;
    display: block;
    width: 96%;
}